
.tracker-total {
  margin: 10px 0;
  display: flex;
}
.tracker-total-title {
  font-weight: 500;
}

.transactions-list {
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 65%;
}
